.topnav li:first-child {
    margin-left: 5vw;
}

.topnav a {
	font-size: 18px;
	padding: 20px 18px;
}

.login-text {
	padding: 10px;
	width: 80px;
}

.login-button {
	font-size: 14px;
	padding: 8px;
	height: 35px;
	width: 80px;
}

.intro {
	font-size: 3vw;
}

.intro-para {
	font-size: 17px;
}

.townswille {
	font-size: 26px;
	padding: 0.8em;
}

.city-para {
	font-size: 17px;
}

.town {
	padding: 0.8em;
	font-size: 17px;
}

.round-img {
  width: 100%; 
  margin-top: 30px;
}

.round-img2 {
  width: 80%;
  margin-left:0px;
}

.round-img1 {
  width: 70%;
}

.copyright {
   font-size: 1.35vw;
}

.upcoming-events-text {
	padding: 8px;
	left: 32.5%;
}

.event-back {
	height: 200px;
}

.event-box {
	width: 94%;
	margin-left: 1.5em;
}

.event-box2 {
	width: 94%;
	margin-left: 1.5em;
}

.event-head {
	font-size: 20px;
	padding: 5px;
}

.event-para {
	padding: 5px;
	font-size: 12px;
}

.discount {
  font-size: 14px;
  padding: 10px 5px 5px 5px;
}

.artist-details {
	width: 94%;
	margin-left: 1.5em;
}

.artist-details1 {
	width: 94%;
	margin-left: 1.5em;
}

.artist-name {
	font-size: 20px;
	padding: 5px;
}

.artist-info {
	padding: 5px;
	font-size: 12px;
}

@media screen and (max-width: 750px) {

.topnav li:first-child {
    margin-left: 0vw;
}

.div-left {
	width: 70%;
	top: 35%;
	left: 15%;
	font-size: 3.5vw;
}

.div-right {
	font-size: 3.5vw;
	width: 70%;
	margin: 0;
	float: left;
	left: 15%;
	top: 80%;
}

.learn {
	width: 30%;
	font-size: 2vw;
	padding: 15px;
}

.para {
	font-size: 2.5vw;
	padding: 0px 15px 0px 15px;
}

.slider-img {
	height: 500px;
}

.intro {
	margin-top: 20%;
	font-size: 24px;
}

.intro-para {
	font-size: 16px;
}

.townswille {
	font-size: 24px;
	width: 100%;
	padding: 0.65em;
}

.img-main {
	display: flex;
	flex-direction: column;
}

.img-sub {
	width: 80%;
}

.city-para {
	font-size: 16px;
}

.round-img {
  width: 100%; 
  margin-top: 30px;
}

.round-img2 {
  width: 60%;
  margin-left:40px;
}

.round-img1 {
  width: 50%;
}

.town {
	padding: 0.5em;
	font-size: 16px;
}

.copyright {
   font-size: 1.55vw;
   margin-right: 150px;
}

.footer {
   height: 150px;
   width: 100%;
   padding: 1em 1em 1em 1em;
}

.footer_left {
	height: 150px;
}

.footer_right {
	height: 150px;
	padding-right: 2.5em;
}

.fa {
  padding: 15px;
  margin-top: 1.5em;
  font-size: 24px;
  width: 40px;
}

hr {
	margin: 1.5em 11em 1em 5em;
}

.upcoming-events-text {
	padding: 5px;
	left: 32.5%;
}

.event-back {
	height: 150px;
}

.event-box {
	width: 100%;
	margin-left: 2em;
}

.event-box2 {
	margin-top: 1.5em;
	width: 100%;
	margin-left: 1.5em;
}

.event-head {
	font-size: 20px;
	padding: 10px;
}

.event-para {
	padding: 10px;
	font-size: 14px;
}

.discount {
  font-size: 16px;
  padding: 10px 10px 10px 10px;
}

.artist-details {
	width: 100%;
	margin-left: 2em;
}

.artist-details1 {
	margin-top: 1.5em;
	width: 100%;
	margin-left: 1.5em;
}

.artist-name {
	font-size: 20px;
	padding: 10px;
}

.artist-info {
	padding: 10px;
	font-size: 14px;
}
/*---------------Start of Mansih Shakya CSS Style-----------------------
.region{
	display: flex;
	flex-direction: column;
}

.sub-region {
	width: 80%;
}

---------------END of Mansih Shakya CSS Style-----------------------*/

}


