.div-left {
	top: 35%;
	font-size: 3.5vw;
}

.div-right {
	font-size: 3.5vw;
	top: 80%;
}

.learn {
	font-size: 2.5vw;
}

.intro {
	font-size: 19px;
}

.topnav a {
	font-size: 16px;
	padding: 20px 15px;
}

.login-text {
	padding: 6.5px;
	width: 60px;
}

.login-button {
	font-size: 14px;
	padding: 5px;
	height: 28px;
	width: 60px;
}

.intro-para {
	font-size: 15px;
}

.townswille {
	font-size: 19px;
	width: 100%;
	padding: 0.5em;
}

.city-para {
	font-size: 15px;
}

.town {
	padding: 0.5em;
	font-size: 15px;
}

.footer {
   height: 130px;
   margin-top: 20px;
}

.footer_left {
	height: 120px;
}

.footer_right {
	height: 120px;
	padding-right: 2.5em;
}

hr {
	margin: 1.5em 9em 1em 5em;
}

.copyright {
   font-size: 1.75vw;
   margin-right: 150px;
}

.event-back {
	height: 120px;
}

.upcoming-events-text {
	padding: 5px;
	left: 32%;
}

.event-box {
	width: 100%;
	margin-left: 3.5em;
}

.event-box2 {
	margin-top: 1.5em;
	width: 100%;
	margin-left: 3.5em;
}

.event-head {
	font-size: 20px;
	padding: 5px;
}

.event-para {
	padding: 5px;
	font-size: 12px;
}

.discount {
  font-size: 14px;
  padding: 10px 5px 5px 5px;
}

.artist-details {
	width: 100%;
	margin-left: 3.5em;
}

.artist-details1 {
	margin-top: 1.5em;
	width: 100%;
	margin-left: 3.5em;
}

.artist-name {
	font-size: 20px;
	padding: 5px;
}

.artist-info {
	padding: 5px;
	font-size: 12px;
}

@media screen and (max-width: 500px) {

.div-left {
	top: 40%;
	font-size: 5vw;
}

.div-right {
	font-size: 5vw;
}

.topnav a:hover {
  border-bottom: 2px solid #cb5a4d;
}

.learn {
	font-size: 2.5vw;
	padding: 10px;
}

.para {
	font-size: 3vw;
	padding: 0px 15px 0px 15px;
}

.intro {
	margin-top: 26%;
	font-size: 17px;
}

.child_right {
  margin-right: 5px;
}

.copyright {
   font-size: 2.25vw;
   margin-right: 150px;
}

.event-back {
	height: 100px;
}

.event-box {
	width: 100%;
	margin-left: 1.5em;
}

.event-box2 {
	margin-top: 1.5em;
	width: 100%;
	margin-left: 1.5em;
}

.event-head {
	font-size: 20px;
	padding: 5px;
}

.event-para {
	padding: 5px;
	font-size: 12px;
}

.discount {
  font-size: 14px;
  padding: 10px 5px 5px 5px;
}

.artist-details {
	width: 100%;
	margin-left: 1.5em;
}

.artist-details1 {
	margin-top: 1.5em;
	width: 100%;
	margin-left: 1.5em;
}

.artist-name {
	font-size: 20px;
	padding: 5px;
}

.artist-info {
	padding: 5px;
	font-size: 12px;
}

}

